[submodule "operator"]
	path = operator
	url = https://github.com/k6io/operator.git
[submodule "k6"]
	path = k6
	url = https://github.com/k6io/k6.git
[submodule "newman-ci"]
	path = newman-ci
	url = git@gitlab.com:vdespa/postman-tests.git
